body{
    text-align: center;
}

#output{
    display:none;
    text-align: left
}
#ui-id-1{
    text-align: left;
    width: 50px;
}
#pitchFilter{
    display: none;
}
#batFilter{
    display: none;
}
.nav-tabs{
    float: none;
}
.active{
    padding: 10px;
}
.highlight{
    background: yellow;
}